body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.receipt-container {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.button-container {
    text-align: center;
    margin-top: 20px;
}
@media print {
    .button-container {
        display: none;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header .order-id {
    color: #ff5c5c;
}

.customer-info input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ffa07a;
}

.items {
    margin-bottom: 20px;
}

.items h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clear-all {
    color: #ff5c5c;
    text-decoration: none;
    font-size: 0.9em;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.remove-button {
    background-color: #ff5c5c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #e04c4c;
}

.items input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ffa07a;
}

.cart-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cart-icon {
    display: flex;
    align-items: center;
}

.cart-icon img {
    width: 30px;
    margin-right: 5px;
}

.price-summary p {
    margin: 5px 0;
}

.price {
    color: #ff5c5c;
    font-weight: bold;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
}

.clear {
    background-color: #ff5c5c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.clear:hover {
    background-color: #e04c4c;
}

.place-order {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.place-order:hover {
    background-color: #218838;
}

.navbar-logo {
    width: 130px; 
    height: auto; 
    margin-left: 115px; 
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .print-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #007BFF;
    color: white;
    margin-right: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.print-button:hover {
    background-color: #0056b3;
}