@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --primary-font: "Inter", sans-serif;
  --primary-color: #dc6b19;
  --addButton-color: #03c90d;
}

.table {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: black;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
}

thead th {
  font-family: "Poppins", sans-serif;
  background-color: #fff4;
  font-weight: 700;
  color: black;
  font-size: 1rem;
}
table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

.product-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 5px;
  border: var(--primary-color) solid 2px;
  border-radius: 50px;
  padding: 3px;
}
.action-icons img {
  cursor: pointer;
  margin-right: 3px;
}
.btn-primary {
  font-family: "Poppins", sans-serif !important;
  padding: 10px !important;
  background-color: var(--primary-color) !important;
  border: var(--primary-color) !important;
}

.btn-primary:hover {
  background-color: var(--addButton-color) !important;
  border: var(--addButton-color) !important;
}

.modal-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.form-label {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}

.form-control {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  border: #dc6b19 solid 1px !important;
}

.addButton {
  background-color: #03c90d !important;
  border: none !important;
  border-radius: 5px !important;
}

.modal-content {
  padding: 20px;
}

#modalProductImage {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: #dc6b19 solid 2px;
}

.image-upload {
  border: 1px solid #dc6b19;
  position: relative;
  border-radius: 5px;
}
.image-upload:hover {
  background: #f5f5f5;
}
.image-upload input[type="file"] {
  width: 100%;
  opacity: 0;
  height: 100px;
  position: relative;
  z-index: 9;
  cursor: pointer;
}
.image-upload .image-uploads {
  text-align: center;
  width: 100%;
  padding: 20px 0;
  border-radius: 5px;
  position: absolute;
  top: 0;
}
.image-upload .image-uploads h4 {
  font-size: 14px;
  font-weight: 500;
  color: #212b36;
}
.image-upload.image-upload-new input[type="file"] {
  height: 258px;
}
.image-upload.image-upload-new .image-uploads {
  height: 100%;
  flex-direction: column;
}
